.home {
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: fixed;
}

.container {
    padding-top: 15%;
}

.title {
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
    color: rgba(48, 48, 48, 1);
}

.subtitle {
    text-shadow: 4px 4px 20px rgba(43, 43, 43, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
    color: rgba(48, 48, 48, 1);
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .home {
        left: 50%;
        margin-left: -50%;
        /* 50% */
    }
}